html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

a, button {
  background: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}
a:checked, a:visited, a:active, a:focus, button:checked, button:visited, button:active, button:focus {
  outline: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #e3e3e3;
  background: linear-gradient(30deg, #c3d9ef, #add0e6);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.envelope {
  width: 500px;
  height: 310px;
  display: flex;
  position: relative;
  cursor: pointer;
  transition: transform linear 0.4s;
}
.envelope:hover {
  transform: translateY(25%);
}
.envelope:hover .triangle_top {
  top: 1px;
  transform: rotate3d(1, 0, 0, 180deg);
  z-index: 31;
}
.envelope:hover #top {
  fill: #f2f2f2;
  filter: url(#topsh);
}

#envelope {
  z-index: 30;
}

.triangle_top {
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 30;
  transform-origin: top;
  transition: transform linear 0.4s, top linear 0.4s;
}

.clicked.env {
  opacity: 0;
  transform: translateY(250%);
  transition: 0.3s opacity linear 3s, transform linear 0.4s;
}
.clicked.triangle_top {
  z-index: 19;
  transform: translate(0%, 250%) rotate3d(1, 0, 0, 180deg);
}
.clicked #top {
  fill: #f2f2f2;
  filter: url(#topsh);
}

.envelope-bg {
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  transition: transform linear 0.4s;
}

#left-right {
  fill: #42f0d0;
}

#bottom {
  fill: #4cf0d2;
}

#top {
  fill: #55f1d5;
  transition: 0s fill linear 0.2s, 0s filter linear 0.2s;
}

.paper {
  width: 400px;
  height: 297.6px;
  background-color: #fff;
  position: absolute;
  box-shadow: 0 0 5px #d1d1d1;
  padding: 25px;
  left: 10%;
  overflow: hidden;
  z-index: 20;
}
.paper p {
  font-size: 16px;
  line-height: 1.1;
  font-family: serif;
  text-align: justify;
}
